*{
	margin: 0;
	background-size: 100% 100%; 
}

h1{	
	font-family: georgia;
}

body{
	height: 100vh;
	width: 100vw;
}

.place-holder{
	height: 400vh;
}

.godown{
	width: 4vw;
	height: 6vh;
	background: transparent url("../images/down.jpg") no-repeat;
	margin: auto;
	background-size: 100% 100%; 
}

.goup{
	width: 4vw;
	height: 6vh;
	background: transparent url("../images/up.jpg") no-repeat;
	margin: auto;
	background-size: 100% 100%; 
}

.exelink, .gitlink{
	width: 3vw;
	height: 5vh;
	margin-left: 1vh;
}

.gitlink{
	background: transparent url("../images/code.jpg") no-repeat;
	background-size: 100% 100%;
}

.exelink{
	background: transparent url("../images/exe.jpg") no-repeat;	
	background-size: 100% 100%; 	
}

.topbar{
	height: 10vh;
	width: 100vw;
	background-color: black;	
}


.ico{
	width: 4vw;
	height: 6vh;
	margin: 2vh 0.5vw;
	background: transparent;
}

.ico:hover{
	transform:rotateY(360deg);
	transition: all 1000ms;
}
.container{
	background: rgb(64, 67, 68) url("../images/main.jpg") no-repeat;
	background-size: 100% 100%; 	
}

.main{
	width: 100vw;
	height:84vh;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	background: rgba(0,0,0,0.5);
}

.buttonbar{
	height: 6vh;
	width: 100vw;
	background-color:transparent;	
	display: flex;
	justify-content: center;
	margin: auto;
}

.name{
	display: flex;
	width: 100%;
	height: 14vh;
}

.welcome{
	font-size: 2em;
	color: white;
	font-weight: 200;
	flex: 40%;
	margin-top: 0; 
	text-align: right;
}

.firstname{
	font-size: 4em;
	color: white;
	font-weight: 200;
	flex: 45%;
	margin-top: 0; 
	text-align: right;
}

.lastname{
	font-size: 5.1em;
	color: white	;
	font-weight: bolder;
	flex: 55%;
	text-align: left;
	letter-spacing: -0.3vw;
	padding: 0;	
}

.info{
	width: 100vw;
}

.tittle{
	font-size: 3em;
	color: rgb(28,103,204);
	font-size: bolder;
	flex: 100%;
	margin: auto;
	text-align: center;
}

.statement, .welcome{
	margin: auto;
	width: 100vw;
	padding: 0 20%;
	text-align: center;
	color: #20B2AA;	
	font-size: 1.5em
}

.welcome{
	font-size: 3em;
}

.project{
	height: 100vh;
	width:  100vw;
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 50px) {
    .project {
        flex-direction: column;
        flex-wrap: none;
    }
}

.projcontainer{
	width: 50vw;
	height: 94vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}	

.projectdetails{
	background-color:transparent; ; 
	margin: auto;
	width: 80%;
	height:40%;
}

.projimage{
	background-color:transparent; ; 
	margin: auto;
	width: 70%;
	height:48%;
	background-size: 100% 100%; 
}

.projtittle{
	font-size: 2.2em;
	color: white;
	font-weight: bold;
}

.projdescription{
	font-size: 1.2em;
	color: white;
	width: 95%;
	text-align: justify;
}

.projtech{
	font-size: 1.2em;
	color: white;
	width: 90%;
	text-align: justify;
	margin: 4vh 0 ;
}

.projlinks{
	width: 100%;
	display: flex;
	justify-content: center;

}	

.project1{
	background: rgb(105, 58, 170) url("../images/main1.jpg") no-repeat;
	background-size: 100% 100%; 
}

.project2{
	background: rgb(65, 160, 244)  url("../images/main2.jpg") no-repeat;
	background-size: 100% 100%; 
}

.project3{
	background:rgb(166, 140, 116)  url("../images/main3.jpg") no-repeat;
	background-size: 100% 100%; 
}

.project4{
	background:rgb(255, 74, 58)  url("../images/main_4.jpg") no-repeat;
	background-size: 100% 100%; 
}

.project5{
	background:rgb(64, 67, 68)  url("../images/main_5.jpg") no-repeat;
	background-size: 100% 100%; 
}


.projimage1{
	background: transparent url("../images/budget.jpg") no-repeat;
	background-size: 100% 100%; 
}

.projimage2{
	background:transparent url("../images/okurio.jpg") no-repeat;
	background-size: 100% 100%; 
}

.projimage3{
	background:transparent url("../images/parcheesi.jpg") no-repeat;
	background-size: 100% 100%; 

}

.projimage4{
	background:transparent url("../images/places.jpg") no-repeat;
	background-size: 100% 100%; 
}

.projimage5{
	background: transparent url("../images/calculator.jpg") no-repeat;
	background-size: 100% 100%; 
}


